VITE_SUPABASE_PROJECT_ID=vddwgtrmaajrokhibvgf
VITE_SUPABASE_URL=https://vddwgtrmaajrokhibvgf.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_TDBqG_E1SWRfI9iIh_8eEQ_LxC4QxbM
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkZHdndHJtYWFqcm9raGlidmdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2ODU4NDcsImV4cCI6MjA5NDI2MTg0N30.h6qfS7TOi8CQUOrJH-rHAzrdJYupHR0jwn1SAszHMRQ"